<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mybatis.BookMapper">

    <select id="read" resultType="com.example.mybatis.dto.BookDto">
        select*from book b where b.book_id = #{id}
    </select>

    <select id="listAll" resultType="com.example.mybatis.dto.BookDto">
    <![CDATA[
        SELECT c.category_id, c.CATEGORY_NAME, b.book_id as id ,b.TITLE ,b.WRITER, p.publisher_id ,p.PUBLISHER_NAME 
        FROM( select
            select * 
            from (
                    SELECT rownum as rn, b * 
                    FROM (SELECT * FROM book order by book_id desc) b)
                    where
JOIN PUBLISHER p ON
b.PUBLISHER_PUBLISHER_ID =p.PUBLISHER_ID 
JOIN  CATEGORY c ON
b.CATEGORY_CATEGORY_ID =c.CATEGORY_ID 
WHERE b.book_id > 0 ORDER BY b.book_id desc) b1
WHERE 
    ]]>
        <include refid="criteria"></include>
    <![CDATA[
                            rownum <= (#{page} * #{size}) t
            where
                rn > (#{page} - 1) * #{size}) b1
        
    ]]>
    </select>

    <select id="totalCnt" resultType="int">
        select count(*) 
        from book 
        where 
            <include refid="criteria"></include>
            book_id > 0
    </select>

    <sql id="criteria">
        <trim prefix="(" stuffix=") AND" prefixOverrides="OR ">
            <trim prefix="OR">
                <choose>
                    <when test="type = 't'.toString()">
                        title like '%'||#{keyword}||'%'
                    </when>
                    <when test="type == 'c'.toString()">
                        CATEGORY_NAME like '%'||#{keyword}||'%'
                    </when>
                    <otherwise>
                        PUBLISHER_NAME like '%'||#{keyword}||'%'
                    </otherwise>
                </choose>
            </trim>
        </trim>
    </sql>
</mapper>